.logo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* For smaller logo sizes */
.logo-container.small .logo-circle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.logo-container.small .logo-symbol {
  font-size: 14px;
}

.logo-container.small .logo-border {
  border-width: 6px;
}