body {
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Microsoft YaHei', 'Inter', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
